---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
    {
        date: "Marzo 2024 - Actualmente",
        title: "Software Developer",
        company: "Softtek",
        description:
            "Desarrollador para una aplicación de la Policía Científica y Criminalística con Flutter.",
    },

    {
        date: "Septiembre 2022 - Marzo 2024",
        title: "Android Developer",
        company: "SIADEN. Lab",
        description:
            "Trabajando en el desarrollo de una nueva app, aportando funcionalidades, mejoras y soluciones a bugs." +
            " Realizando mantenimiento de la apps creadas anteriormente.",
    },
    {
        date: "Diciembre 2023",
        title: "Técnico Informático",
        company: "Zaidan It Solutions",
        description:
            "Proyecto puntual montando y testeando equipos informáticos en Deutsche Bank.",
    },

]
---

<ol class="relative mt-16">
    {
        EXPERIENCIE.map((experiencie) => (
                <li class="">
                    <ExperienceItem {...experiencie}/>
                </li>
        ))
    }
</ol>
